.totop {
position:fixed;
right: 0px;
}

.tweet:hover{
	background-color:#eeeeea;
}

hr { margin: 0px; }

.astext {
    background:none;
    border:none;
    margin:0;
    padding:0;
}

.classWithPad { margin:10px; padding:10px; }

#newpost a button {
	color: black;
	font-weight: lighter;
	padding: 3px 6px
}

hr {
	margin: 5px 0;
}

.profileimg{
	height: auto;
	width: 100%;
	max-width: 42px;
	max-height: 42px;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

.hashtag{
	/*color: rgb(0,132,180);*/
	font-weight: bold;
}
/*.hashtag:hover{
	text-decoration: underline;
}*/

#loginWrap{
	background-color:
}

#loginWrap button{
	vertical-align: text-bottom;
}
#loginWrap img{
	border-radius: 24px;
	vertical-align: text-bottom;
}

#loginWrap{
	background-color:	rgb(72,72,72) ;
	color: white;
}
#people{
	background-color: rgb(208,208,208) ;
}
#content{
	background-color: 	rgb(192,192,192);
}
