<div class="container">

    <div class="row" > <div class="classWithPad" style="margin:20px; padding:20px;"> <div class="col-xs-12" >

          <%= link_to image_tag("imark_bold.gif"), root_path, class: "logo" %>

          <p>Welcome to the Tweed Twitter News Feed Evaluation Study!</p>

          <p><b>DESCRIPTION</b>: We are researchers at the University of Illinois doing a research study about what people want to see in their Twitter news feed and whether it is possible to build systems that help people see more of what they want.  All data collected in this study are for research purposes only. We will show you three different systems we have built and ask you to answer questions about your preferences and/or experience of your own news feed. Participation should take approximately 45 minutes.</p>

          <p><b>RISKS and BENFITS</b>: The risks to your participation in this online study are those associated with basic computer tasks, including boredom, fatigue, or mild stress. The only benefit to you is the learning experience from participating in a research study.  The benefit to society is the contribution to scientific knowledge.</p>

          <p><b>COMPENSATION</b>: We will pay participants $10/hour for the duration of their interview. The interview process should take approximately 45 minutes.</p>

          <p><b>CONFIDENTIALITY</b>: Your study-related information will be kept confidential, however there are some exceptions. In general, we will not tell anyone any information about you. However, laws and university rules might require us to disclose information about you.  For example, if required by laws or University Policy, study information which identifies you may be seen or copied by the following people or groups:</p>

          <p style='text-indent:50px'>The university committee and office that reviews and approves research studies, the Institutional Review Board (IRB) and Office for Protection of Research Subjects;</p>

          <p style='text-indent:50px'>University and state auditors, and Departments of the university responsible for oversight of research;</p>

          <p>Your interview will be recorded, but to the extent allowed by law the original data will not be shared with anyone outside of our group at the University of Illinois. We will also maintain a single key linking your interview number with your email address (which will be stored in a locked safe in the PI’s office). We may contact you after the initial interview with follow up questions, but you are not obligated to participate and will be similarly compensated for any follow up contributions.</p>

          <p>Any reports and presentations about the findings from this study will not include your name or any other information that could identify you.</p>

          <p><b>SUBJECT'S RIGHTS</b>: Your participation is voluntary.  You may stop participating at any time by withdrawing from the study. Partial data will not be analyzed but you will still be compensated for the time that you spent in the interview.</p>

          <p>For additional questions about this research, you may contact:</p>

          <p>Kristen Vaccaro: kvaccaro@illinois.edu</p>
          <p>Prof. Karrie Karahalios: kkarahal@cs.uiuc.edu</p>

          <p>For questions about your rights as a research participant, you may contact the University of Illinois Urbana-Champaign Institutional Review Board at 217-333-2670.</p>

          <p><b>TWITTER ACCESS</b>: On the next page we will begin the study, by having you log onto your Twitter account. This will allow you to look at your own Twitter feed when considering the tools. We will not retain any account information after the study is complete and will destroy our access credentials after your interview has finished.</p>

          <p>Please indicate below that you are at least 18 years old, have read and understand this consent form, and you agree to participate in this online research study.</p>

        <%= link_to raw("<button class='btn btn-default' type='submit'>I consent</button>"), '/auth/twitter' %>

        </div>

      </div>
    </div>
