<div class="container-fluid">
    <div class="row gutter-0">
        <div class="col-xs-5">
            <div class="feed">
                <%= render $tweets %>
            </div>
        </div>
        <div class="col-xs-5">
            <div class="fake_feed">
                <%= render $tweets %>
            </div>
        </div>
        <div class="col-xs-2">
            <%= render "sessions/cpanel" %>
        </div>
    </div>
</div>

