<div class="container">
  <div class="col-xs-9">
    <% @user.tweet.order(tweet_id: :desc).limit(100).each do |t| %>
        <%=render 'sessions/tweet', t: t%>
    <% end %>
  </div>
  <div class="col-xs-3">
    <p> Control Panel </p>
    <ul>
      <li>1</li>
      <li>2</li>
      <li>3</li>
      <li>4</li>
      <li>5</li>
      <li>6</li>
      <li>7</li>
    </ul>
  </div>
</div>

