<div class="container-fluid">

    <div class="col-xs-5 left-feed">
        <div class="feed">
            <%= render $tweets %>
        </div>
    </div>
    <div class="col-xs-5">
        <div class="fake_feed">
            <%= render $tweets %>
        </div>
    </div>
    <div class="col-xs-2">
        <%= render "sessions/cpanel" %>
    </div>

</div>

