/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import 'bootstrap-sprockets';
@import 'bootstrap';

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* header */

.navbar {
  margin-bottom: 0px;
}
.button_to{
  display: inline;
}
.refresh-button{
  font-size: 10px;
  padding: 5px;
  margin-bottom: 4px;
}
#logo {
  img {
    height: 45px;
    position: relative;
    top: 50%;
    transform: translateY(-9%);
    padding-left: 5px;
  }
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: light gray;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

body {
  //padding-top: 70px; // This is to allow for fixed navbar at top.
}
.alert {
  text-align: center;
}
.debug_dump {
  padding-left: 8rem;
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}
.form-group .copy-field {
  width: 155px;
}
.navbar-left{
  .donate-small{
    padding-top: 12px;
  }
}
ul .header-name {
  position: relative;
  font-weight: bold;
  font-size: 21px;
  top: 11px;
  .last-data-update{
    font-size: 12px;
  }
}
